<!DOCTYPE html>
<html ng-app="VWApp" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/VWApp.css" />
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/jszip.js"></script>
    <script src="scripts/libs/xlsx.js"></script>
    <script src="scripts/libs/linq.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div id="App">
    <div id="banner" class="banner">
            <div class="banner-left">
                <img src="img/dasautosmall.png" />
            </div>
        <div class="banner-center">
            <span>REPORTADOR VOLKSWAGEN</span>
        </div>
        <div class="banner-right">
            <img src="img/logo%20ipsos.png" />
        </div>
    </div>
    <div ng-controller="MenuCtrl">
    <div id="menuVW" class="menu" >
        <div class="menu-element" ng-click="menuClick(option.id)" ng-repeat="option in modules"><img ng-src="{{option.src}}"/><br><span>{{option.displayText}}</span></div>
    </div>
    <div id = "contentPrincipal" class="content" >

        <div id="homeDiv" class="content"  ng-show="  segment == 1">
            <p>
                Bienvenido al Reporteador Volkswagen
            </p>
            <p>
                En este reporteador puede cargar o escuchar los audios
            </p>
        </div>
        <div id="loadDiv" ng-show="segment == 5" class="content" ng-controller="UploadBD">
            <div ng-if="dataLoading" class="waitMask">
                <div style="top:50%; left: 50%; position: absolute;">
                    <img src="img/loading_a.gif" style="width: 40px; height: 40px;">
                </div>
            </div>
            <div class="panel fadein fadeout">
                <h2>Carga de Bases de datos</h2>
                    <p>
                        Selecciona el tipo de base a cargar
                    </p>
                <div>
                    <form name="uploadForm">
                        <div style="float: left">
                            <select ng-model="opt" ng-change="change(opt)">
                                <option value="1">Base Casuistica</option>
                                <option value="2">Base Grabaciones Ventas Pasajeros</option>
                                <option value="3">Base Grabaciones Servicio Pasajeros</option>
                            </select>
                        </div>
                        <div style="float: left; padding-left: 1em;">
                            <input type="file" ng-model="files" onchange="angular.element(this).scope().filesChanged(this)" />
                        </div>
                    </form>
                </div>
                <br>
                <div name="AnalisisCasuistica" ng-show="fileType == 1 && show" class="AnalisisDiv">
                    <h3>Analisis de la Base de datos Casuistica</h3>
                    <blockquote class="quoteAnalisis">
                        <p><span>Nombre del Archivo: </span> {{casuisticaAnalisis.nombreArchivo}} </p>
                        <p><span>Versión: </span>{{casuisticaAnalisis.version}}</p>
                        <p><span>Medición: </span>{{casuisticaAnalisis.medicion}}</p>
                        <p><span>Fecha: </span>{{casuisticaAnalisis.fecha}}</p>
                        <p><span>Compilador: </span>{{casuisticaAnalisis.compilador}}</p>
                        <hr>
                        <div style="float: left">
                            <p><span>Total de Registros: </span>{{casuisticaAnalisis.totalRegistros}}</p>
                            <p><span>Total de Funicos Distintos: </span>{{casuisticaAnalisis.totalFunicos}}</p>
                            <p><span>Total de No de concesionarios: </span>{{casuisticaAnalisis.totalConcesionarios}}</p>
                            <p><span>Total de registros con Telefono Registrado: </span>{{casuisticaAnalisis.totalTelefonosRegistrados}}</p>
                        </div>
                        <div style="float: left; padding-left: 1em;">
                             <p><span>Total de registros con Email 1: </span>{{casuisticaAnalisis.totalEmail}}</p>
                             <p><span>Total de registros con Email 2: </span>{{casuisticaAnalisis.totalEmail2}}</p>
                             <p><span>Total de Asesores Distintos por CURP: </span>{{casuisticaAnalisis.totalAsesores}}</p>
                             <p><span>Total de Tecnicos Distintos: </span>{{casuisticaAnalisis.totalTecnicos}}</p>
                        </div>
                    </blockquote>
                    <div>
                        <input type="button" ng-click="procesar(1)" value="Generar" />
                    </div>
                </div>
                <br>
                <div name="AnalisisGrabacionesVentasPasajeros" ng-show="fileType == 2 && show" class="AnalisisDiv">
                    <h3>Analisis de la Base de Grabaciones Ventas Pasajeros</h3>
                    <blockquote class="quoteAnalisis">
                        <p><span>Nombre del Archivo: </span> {{casuisticaAnalisis.nombreArchivo}} </p>
                        <p><span>Versión: </span>{{casuisticaAnalisis.version}}</p>
                        <p><span>Medición: </span>{{casuisticaAnalisis.medicion}}</p>
                        <p><span>Fecha: </span>{{casuisticaAnalisis.fecha}}</p>
                        <p><span>Compilador: </span>{{casuisticaAnalisis.compilador}}</p>
                        <hr>
                        <div style="float: left">
                            <p><span>Total de registros: </span>{{audiosVentasPasajeros.totalRegistros}}</p>
                            <p><span>Total de DIAKEYF distintos: </span>{{audiosVentasPasajeros.totalDIAKEYF}}</p>
                            <p><span>Total de concesionarios: </span>{{audiosVentasPasajeros.totalConcesionarios}}</p>
                            <p><span>Total de chasis distintos registrados: </span>{{audiosVentasPasajeros.totalChasis}}</p>
                        </div>
                        <div style="float: left; padding-left: 1em;">
                            <p><span>Total de archivos de audio: </span>{{audiosVentasPasajeros.totalAudios}}</p>
                        </div>
                    </blockquote>
                </div>
                <br>
                <div name="AnalisisGrabacionesServicioPasajeros" ng-show="fileType == 3 && show" class="AnalisisDiv">
                    <h3>Analisis de la Base de Grabaciones Ventas Pasajeros</h3>
                    <blockquote class="quoteAnalisis">
                        <p><span>Nombre del Archivo: </span> {{casuisticaAnalisis.nombreArchivo}} </p>
                        <p><span>Versión: </span>{{casuisticaAnalisis.version}}</p>
                        <p><span>Medición: </span>{{casuisticaAnalisis.medicion}}</p>
                        <p><span>Fecha: </span>{{casuisticaAnalisis.fecha}}</p>
                        <p><span>Compilador: </span>{{casuisticaAnalisis.compilador}}</p>
                        <hr>
                        <div style="float: left">
                            <p><span>Total de registros: </span>{{audiosServicioPasajeros.totalRegistros}}</p>
                            <p><span>Total de Id distintos: </span>{{audiosServicioPasajeros.totalID}}</p>
                            <p><span>Total de concesionarios: </span>{{audiosServicioPasajeros.totalConcesionarios}}</p>
                            <p><span>Total de chasis distintos registrados: </span>{{audiosServicioPasajeros.totalChasis}}</p>
                        </div>
                        <div style="float: left; padding-left: 1em;">
                            <p><span>Total de archivos de audio: </span>{{audiosServicioPasajeros.totalAudios}}</p>
                        </div>
                    </blockquote>
                </div>

            </div>



        </div>
        <div id="reportDiv" class="content" ng-show="segment == 2">
            <section ng-controller="ReportCtrl">
                <div class="panel fadein fadeout">
                    <h2>Reporte Casuistica</h2>
                    <!--<input ng-click="FillReport()" value="Obtener" type="button" style="float: left"/>!-->
                    <input ng-click="Download()" value="Obtener Excel" type="button" style="float: left"/>
                    <div class="datagrid"><table>
                        <thead>
                        <tr >
                            <th ng-repeat="csCol in csColNames">{{csCol}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="agencia in agencias">
                            <td>{{agencia.ID}}</td>
                            <td>{{agencia.Recibidos}}</td>
                            <td>{{agencia.AgenciaCancelada}}</td>
                            <td>{{agencia.FechaServicio}}</td>
                            <td>{{agencia.Duplicado}}</td>
                            <td>{{agencia.DuplicadoConBaseAnterior}}</td>
                            <td>{{agencia.Empresa_sin_contacto}}</td>
                            <td>{{agencia.Error_Fecha_de_Servicio}}</td>
                            <td>{{agencia.No_Contactar}</td>
                            <td>{{agencia.Otra_Marca}</td>
                            <td>{{agencia.Profeco}</td>

                        </tr>
                        </tbody>
                    </table></div>
                </div>
            </section>
        </div>

        <div id="configDiv" class="content" ng-show="segment == 7">
            <section ng-controller="TabCtrl">
                <ul class="nav nav-pills">
                    <li ng-class="{active: isSelected(1)}" ><a href ng-click="selectTab(1)"> Modulos </a></li>
                    <li ng-class="{active: isSelected(2)}" ><a href ng-click="selectTab(2)"> Roles </a></li>
                    <li ng-class="{active: isSelected(3)}" ><a href ng-click="selectTab(3)"> Usuarios </a></li>
                </ul>
                <div ng-show="tab === 1"  class="panel fadein fadeout">
                   <h2>Modulos de la aplicación</h2>
                    <ul ng-repeat="module in modules">
                       <li>{{module.displayText}}</li>
                    </ul>
                    <form name="moduleAdd" ng-controller="ModuleCtrl" class="ModuleList">
                        <label>Nombre Modulo</label>
                        <input type="text" ng-model="module.name"/>
                        <input type="button" value="Agregar"/>
                    </form>
                </div>
                <div ng-show="tab === 2"  class="panel fadein fadeout">
                    <h2>Roles de usuario</h2>
                </div>
                <div ng-show="tab === 3"  class="panel fadein fadeout">
                    <h2>Usuarios de aplicación</h2>
                </div>
            </section>
        </div>
    </div>
    </div>

</div>

</body>
</html>